<div class="container body-content">
    <div class="page-header">
        <h1>Edit Post: <span ng-bind="vm.post.title"></span> <small ng-show="vm.post.status">({{ vm.post.status }})</small></h1>
    </div>

    <form name="postForm" ng-submit="vm.save(postForm)" novalidate>
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" ab-client-validate>
                            <input id="title" name="title" type="text" class="form-control" style="font-size: 1.9em; height: 60px;" placeholder="Title" required ng-model="vm.post.title" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="help-block">
                            The <em>Slug</em> is the human readable text that appears at the end of the post URL. It's usually a shortend, hyphenated
                            version of the post title. For example: https://www.airbears.org/posts/<mark>top-air-bears-pilots-february</mark><br />
                            Once a post is published, the slug should generally never change. We must assume search engines have already indexed this page.
                        </div>
                        <div class="form-group" ab-client-validate ng-hide="vm.post.statusCode === 1 && !vm.slugWarningOverridden">
                            <div class="input-group">
                                <span class="input-group-addon">https://www.airbears.org/posts/</span>
                                <input id="slug" name="slug" type="text" class="form-control text-lowercase" placeholder="slug-goes-here" required ng-model="vm.post.slug" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="vm.generateSlug()" uib-tooltip="Automatically generate a slug derived from the title text.">
                                        <i class="glyphicon glyphicon-refresh"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div ng-show="vm.post.statusCode === 1 && !vm.slugWarningOverridden">
                            <div class="lead">
                                https://www.airbears.org/posts/{{ vm.post.slug }}
                            </div>
                            <div>
                                <a href ng-click="vm.overrideSlugWarning()">Although this post is already published, I really need to change the slug.</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Post Content</h3>
                        <text-angular ng-model="vm.post.content"></text-angular>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <button class="btn btn-success form-control" type="submit" ng-disabled="vm.isSubmitting || postForm.$pristine">
                        <i class="glyphicon glyphicon-floppy-disk"></i> Save
                    </button>
                </div>

                <div class="form-group">
                    <button class="btn btn-default form-control" ui-sref="root.manage-posts">
                        Done Editing
                    </button>
                </div>

                <br /><br />

                <div class="form-group">
                    <label for="datePublished">
                        Publish Date
                        <small class="glyphicon glyphicon-question-sign" uib-tooltip="The post will become public on the date specified. If you want the post to remain a draft, leave the field blank."></small>
                    </label>
                    <p class="input-group">
                        <input id="datePublished" name="datePublished" type="text" class="form-control" 
                               ng-model="vm.post.datePublished"
                               uib-datepicker-popup 
                               is-open="vm.publishDatePickerOpened" 
                               close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openPublishDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>

                <div class="form-group" ng-show="vm.post.dateUpdated">
                    <label>Last Updated</label>
                    <div ng-bind="vm.post.dateUpdated | date:'short'"></div>
                </div>
            </div>
        </div>
    </form>
</div>