<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="root.home">
                <img src="/images/airbear-logo.png" height="60" />
                <span>Air Bears</span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="root.resources">About Us</a></li>
                <li ui-sref-active="active"><a ui-sref="root.resources">Resources</a></li>
                <li class="dropdown" ng-show="$ctrl.user && $ctrl.user.isAdmin" ng-class="{active:$ctrl.isActive('root.manage')}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Manage <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="root.manage-pilots">Pilots</a></li>
                        <li ui-sref-active="active"><a ui-sref="root.manage-commanders">Commanders</a></li>
                        <li ui-sref-active="active"><a ui-sref="root.manage-posts">Posts</a></li>
                        <li ui-sref-active="active"><a ui-sref="root.prepaid-registration">Prepaid Registration</a></li>
                    </ul>
                </li>
            </ul>            
            <ul class="nav navbar-nav navbar-right" ng-hide="$ctrl.user">
                <li><a ng-click="$ctrl.openRegistationOptions()">Register</a></li>
                <li><a ng-click="$ctrl.openLogin()">Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="$ctrl.user">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ $ctrl.user.firstName }} <span class="hidden-sm">{{ $ctrl.user.lastName }}</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="root.edit-profile" ng-show="!$ctrl.user.isAuthorityAccount">My Profile</a></li>
                        <li><a href="#" ng-click="$ctrl.logout()"><span class="glyphicon glyphicon-lock"></span>&nbsp; Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="reveal-animation page-view" ui-view></div>

<div class="container">
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="root.home">
                        <img src="/images/airbear-logo.png" height="60" />
                        <span>Air Bears</span>
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active"><a ui-sref="root.resources">Donate</a></li>
                    <li ui-sref-active="active"><a ui-sref="root.resources">Contact</a></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="mix-indent-text mix-white-text">
                    1980 Hoyt Ave. E. St. Paul, MN 55119
                </div>
            </div>
        </div>
    </div>
</div>

<toaster-container></toaster-container>