<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="root.home">
                <img src="/images/airbear-logo.png" height="60" />
                <span>Air Bears</span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="root.pilot-search">Pilot Search</a></li>
                <li ui-sref-active="active"><a ui-sref="root.resources">Resources</a></li>
                <li ui-sref-active="active"><a ui-sref="root.guidelines"><span class="hidden-md midden-sm">Operational</span> <span>Guidelines</span></a></li>
                <li ui-sref-active="active"><a ui-sref="root.post-archive">Posts</a></li>
                <li ui-sref-active="active"><a ui-sref="root.contact">Contact</a></li>               
                <li class="dropdown" ng-show="$ctrl.user && $ctrl.user.isAdmin" ng-class="{active:$ctrl.isActive('root.manage')}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Manage <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="root.manage-pilots">Pilots</a></li>
                        <li ui-sref-active="active"><a ui-sref="root.manage-commanders">Commanders</a></li>
                        <li ui-sref-active="active"><a ui-sref="root.manage-posts">Posts</a></li>
                        <li ui-sref-active="active"><a ui-sref="root.prepaid-registration">Prepaid Registration</a></li>
                    </ul>
                </li>
            </ul>            
            <ul class="nav navbar-nav navbar-right" ng-hide="$ctrl.user">
                <li><a ng-click="$ctrl.openRegistationOptions()">Register</a></li>
                <li><a ng-click="$ctrl.openLogin()">Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="$ctrl.user">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ $ctrl.user.firstName }} <span class="hidden-sm">{{ $ctrl.user.lastName }}</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="root.edit-profile" ng-show="!$ctrl.user.isAuthorityAccount">My Profile</a></li>
                        <li><a href="#" ng-click="$ctrl.logout()"><span class="glyphicon glyphicon-lock"></span>&nbsp; Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <div class="nav navbar-nav navbar-right hidden-md hidden-sm" style="margin-right: 25px;">
                <a href="https://www.facebook.com/Air-Bears-830111767019340/" class="social-icon" target="_blank" title="View Air Bears on Facebook">
                    <img src="../../images/facebook-icon.png" />
                </a>
            </div>
        </div>
    </div>
</div>

<div class="reveal-animation page-view" ui-view></div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3>Navigation</h3>
                <ul class="list-unstyled">
                    <li><a ui-sref="root.pilot-search">Pilot Search</a></li>
                    <li><a ui-sref="root.resources">Resources</a></li>
                    <li><a ui-sref="root.guidelines">Operational Guidelines</a></li>
                    <li><a ui-sref="root.post-archive">News and Updates</a></li>
                    <li><a ui-sref="root.contact">Contact Air Bears</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h3>Donations</h3>
                <p>
                    Make an online donation via PayPal.
                </p>
                <p>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=LPZ3G5H9A6EA2" target="_blank" title="Make a Donation to Air Bears with PayPal">
                        <img src="../../images/paypal-donate.gif" />
                    </a>
                </p>
            </div>
            <div class="col-sm-4">
                <h3>News and Updates</h3>
                <ul class="list-unstyled">
                    <li ng-repeat="post in $ctrl.latestPosts">
                        <a ui-sref="root.post({slug: post.slug})">{{ post.title }}</a>
                        <div class="date">{{ post.datePublished | date:'longDate' }}</div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h3>Contact</h3>
                <p>
                    1980 Hoyt Ave. E.<br />
                    St. Paul, MN 55119<br />
                    <a href="mailto:hq@airbears.org" class="social-icon" title="Send us an email.">
                        hq@airbears.org
                    </a>
                </p>
                <p>
                    <a href="https://www.facebook.com/Air-Bears-830111767019340/" class="social-icon" target="_blank" title="Contact Air Bears on Facebook">
                        <img src="../../images/facebook-icon.png" /> Facebook
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <small>&copy; 2016 Air Bears</small>
            </div>
        </div>
    </div>
</div>

<toaster-container></toaster-container>