<div class="container body-content">

    <div class="page-header">
        <h1>Contact Us</h1>
    </div>

    <div class="row">
        <div class="col-sm-8">

            <h3>Question? Comments? We're Listening.</h3>

            <div ng-hide="$ctrl.messageSent">
                <p class="lead">
                    Fill out the form below and we'll get back to you as soon as we can.
                </p>

                <form name="contactForm" ng-submit="$ctrl.send(contactForm.$valid)" novalidate>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group" ab-client-validate>
                                <label for="name">Name</label>
                                <input id="name" name="name" type="text" class="form-control" required ng-model="$ctrl.form.name" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group" ab-client-validate>
                                <label for="email">Email</label>
                                <input id="email" name="email" type="email" class="form-control" required ng-model="$ctrl.form.email" />
                                <div class="help-block validation" ng-show="contactForm.email.$error.email">Email must be valid.</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="phone">Phone Number <small>(Optional)</small></label>
                                <input id="phone" name="phone" type="text" class="form-control" ng-model="$ctrl.form.phoneNumber" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group" ab-client-validate>
                                <label for="message">Message</label>
                                <textarea id="message" name="message" rows="6" class="form-control" required maxlength="500" ng-model="$ctrl.form.message"></textarea>
                                <div class="help-block validation" ng-show="contactForm.message.$error.maxlength">No more than 500 characters.</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div vc-recaptcha key="'6LfWxSETAAAAAMloyGsgTNoUWJF12RdxgRBqRBZm'" ng-model="$ctrl.form.captchaResponse"></div>
                                <div class="help-block" ng-show="contactForm.$submitted && contactForm.$error.recaptcha">Please verify that you're human.</div>
                            </div>
                        </div>
                    </div>

                    <div class="row vert-margin">
                        <div class="col-sm-4">
                            <button class="btn btn-success" type="submit" ng-disabled="$ctrl.isSubmitting"><i class="glyphicon glyphicon-envelope"></i> Send</button>
                        </div>
                    </div>
                </form> 
            </div>

            <div ng-show="$ctrl.messageSent">
                <p class="lead text-success vert-margin">
                    Thank you for the message! We'll get back to you shortly.
                </p>
            </div>
        </div>

        <div class="col-sm-4">
            <p class="lead">
                <strong>Air Bears Headquarters</strong><br />
                1980 Hoyt Ave. E.<br />
                St. Paul, MN 55119<br />
            </p>
        </div>
    </div>
</div>