<form name="passwordForm" ng-submit="vm.save(passwordForm.$valid)" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
        <h4 class="modal-title">Change Your Password</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group" ab-client-validate>
                    <label for="curentPassword">Current Password</label>
                    <input id="curentPassword" name="curentPassword" class="form-control" type="password" ng-model="vm.model.oldPassword" />
                    <div class="help-block validation" ng-show="passwordForm.password.$error.required">Current password is required.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group" ab-client-validate>
                    <label for="password">
                        New Password
                        <small class="glyphicon glyphicon-question-sign"
                               uib-tooltip-template="'app/common/password-requirements-template.html'"></small>
                    </label>
                    <input id="password" name="password" type="password" class="form-control" required ng-model="vm.model.newPassword" />
                    <div class="help-block validation" ng-show="passwordForm.password.$error.required">New password is required.</div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group" ab-client-validate>
                    <label for="confirmedPassword">New Password Confirmed</label>
                    <input id="confirmedPassword" name="confirmedPassword" type="password" class="form-control" required ab-compare-to="vm.model.newPassword" ng-model="vm.model.confirmPassword" />
                    <div class="help-block validation" ng-show="passwordForm.confirmedPassword.$error.required">Confirmed Password is required.</div>
                    <div class="help-block validation" ng-show="passwordForm.confirmedPassword.$error.compareTo">Passwords don't match.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-6">
                <input type="button" class="btn btn-default pull-left" value="Cancel" ng-click="vm.cancel()" />
            </div>
            <div class="col-sm-6">
                <div class="pull-right form-inline">
                    <button class="btn btn-success" type="submit" ng-disabled="vm.isSubmitting"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
