<div class="container body-content">
    <div class="row">
        <div class="col-sm-5">
            <h1><span ng-bind="vm.pilot.firstName"></span> <span ng-bind="vm.pilot.lastName"></span></h1>
            Air Bears member since <span ng-bind="vm.pilot.dateRegistered | date : mediumDate"></span>
        </div>
        <h3 class="col-sm-6">
            <small><a href ng-click="vm.openEditProfileModal()"><i class="glyphicon glyphicon-pencil"></i> Edit Profile</a></small><br />
            <small><a href ng-click="vm.openChangePasswordModal()"><i class="glyphicon glyphicon-pencil"></i> Change Password</a></small><br />
            <small><a ui-sref="root.profile({pilotId: vm.pilot.id, pilot: vm.pilot})"><i class="glyphicon glyphicon-eye-open"></i> View What Members See</a></small>
        </h3>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-8">        
            <div class="row">
                <div class="col-sm-12">
                    <h3>Pilot Bio</h3>
                    <p ng-hide="vm.pilot.bio">
                        Let the Air Bears community know more about yourself. <br />
                        <a href ng-click="vm.openEditBioModal()"><i class="glyphicon glyphicon-plus"></i> Add Bio</a>
                    </p>
                    <p ng-show="vm.pilot.bio" ng-bind="vm.pilot.bio" style="white-space: pre-wrap;"></p>
                    <p ng-show="vm.pilot.bio">
                        <a href ng-click="vm.openEditBioModal()"><i class="glyphicon glyphicon-pencil"></i> Edit Bio</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>Contact Information</h3>
                    <i class="glyphicon glyphicon-envelope pad-right"></i> <span ng-bind="vm.pilot.email"></span><br />
                    <i class="glyphicon glyphicon-phone-alt pad-right"></i> <span ng-bind="vm.pilot.phoneNumber"></span>
                </div>
                <div class="col-sm-6">
                    <h3>Address</h3>
                    <div ng-show="vm.pilot.hasInternationalAddress">
                        <div ng-bind="vm.pilot.addressLine1"></div>
                        <div ng-if="vm.pilot.addressLine2" ng-bind="vm.pilot.addressLine2"></div>
                        <div ng-if="vm.pilot.addressLine3" ng-bind="vm.pilot.addressLine3"></div>
                        <div ng-if="vm.pilot.addressLine4" ng-bind="vm.pilot.addressLine4"></div>
                    </div>
                    <div ng-hide="vm.pilot.hasInternationalAddress">
                        <div ng-bind="vm.pilot.street1"></div>
                        <div ng-if="vm.pilot.street2" ng-bind="vm.pilot.street2"></div>
                        <span ng-bind="vm.pilot.city"></span>, <span ng-bind="vm.pilot.state.abbr"></span> <span ng-bind="vm.pilot.zip"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Platform Capabilities</h3>
                    <div class="form-group">
                        <label>Camera</label>
                        <div class="checkbox" style="top: -5px">
                            <label>
                                <input name="nightVision" type="checkbox" required ng-model="vm.pilot.nightVisionCapable" ng-change="vm.toggleNightVision()">
                                <span>
                                    Night Vision
                                </span>
                            </label>
                        </div>
                        <div class="checkbox" style="top: -5px">
                            <label>
                                <input name="thermal" type="checkbox" required ng-model="vm.pilot.thermalVisionCapable" ng-change="vm.toggleThermal()">
                                <span>
                                    Thermal (FLIR)
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="flightTime">Flight Time</label>
                        <select id="flightTime" name="flightTime" class="form-control" required 
                                ng-model="vm.pilot.flightTime" 
                                ng-options="t.name for t in vm.flightTimes track by t.id"
                                ng-change="vm.chooseFlightTime()"></select>
                    </div>
                    <div class="form-group">
                        <label for="payload">Payload</label>
                        <select id="payload" name="payload" class="form-control" required
                                ng-model="vm.pilot.payload"
                                ng-options="p.name for p in vm.payloads track by p.id" 
                                ng-change="vm.choosePayload()"></select>
                    </div>
                </div>
            </div>        
            <div class="row">
                <div class="col-sm-12">
                    <h3>Skills</h3>
                    <p>
                        <a href="#"><i class="glyphicon glyphicon-plus"></i> Add Skills (coming soon)</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Certifications</h3>
                    <p class="form-group">
                        <div class="checkbox">
                            <label>
                                <input name="femaIcsCertified" type="checkbox" required ng-model="vm.pilot.femaIcsCertified" ng-change="vm.toggleFemaIcsCertified()">
                                <span>
                                    FEMA ICS Certified
                                </span>
                            </label>
                        </div>
                    </p>
                    <p class="form-group">
                        <div class="checkbox">
                            <label>
                                <input name="hamRadioLicensed" type="checkbox" required ng-model="vm.pilot.hamRadioLicensed" ng-change="vm.toggleHamRadioLicensed()">
                                <span>
                                    HAM Radio Licensed
                                </span>
                            </label>
                        </div>
                    </p>
                    <p class="form-group">
                        <div class="checkbox">
                            <label>
                                <input name="faaPart107Certified" type="checkbox" required ng-model="vm.pilot.faaPart107Certified" ng-change="vm.toggleFaaPart107Certified()">
                                <span>
                                    FAA Part 107 Certified
                                </span>
                            </label>
                        </div>
                    </p>
                    <p>
                        <a href="#"><i class="glyphicon glyphicon-plus"></i> Add Other Certifications (coming soon)</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Privacy Settings</h3>
                    <p class="form-group">
                        <div class="checkbox">
                            <label>
                                <input name="allowsPilotSearch" type="checkbox" required ng-model="vm.pilot.allowsPilotSearch" ng-change="vm.toggleAllowsPilotSearch()">
                                <span uib-tooltip="The pilot search tool can be helpful for fellow pilots to locate community members.">
                                    Allow other pilots to find me via the Pilot Search tool.
                                </span>
                            </label>
                        </div>
                    </p>
                    <p class="form-group">
                        <div class="checkbox">
                            <label>
                                <input name="subscribesToUpdates" type="checkbox" required ng-model="vm.pilot.subscribesToUpdates" ng-change="vm.toggleSubscribesToUpdates()">
                                <span uib-tooltip="Occasionally the Air Bears team will feel the need to update the community on recent events. This will not be frequent spam-quality emails.">
                                    Subscribe to important Air Bears updates regarding the community or UAS regulations.
                                </span>
                            </label>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>