<div class="container body-content">
    <div class="row">
        <div class="col-sm-5">
            <h1><span ng-bind="vm.pilot.firstName"></span> <span ng-bind="vm.pilot.lastName"></span></h1>
            Air Bears member since <span ng-bind="vm.pilot.dateRegistered | date : mediumDate"></span>
        </div>
        <h3 class="col-sm-6" ng-show="vm.user && vm.user.id === vm.pilot.id">
            <small><a ui-sref="root.edit-profile"><i class="glyphicon glyphicon-pencil"></i> Edit My Profile</a></small><br />
        </h3>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-8">

            <div class="row space-bottom">
                <div class="col-sm-12">
                    <h3>Pilot Bio</h3>
                    <p ng-show="vm.pilot.bio" ng-bind="vm.pilot.bio" style="white-space: pre-wrap;"></p>
                    <p ng-hide="vm.pilot.bio">
                        {{ vm.pilot.firstName }} has not written a bio.
                    </p>
                </div>
            </div>

            <div class="row space-bottom">
                <div class="col-sm-6">
                    <h3>Contact Information</h3>
                    <i class="glyphicon glyphicon-envelope pad-right"></i> <span ng-bind="vm.pilot.email"></span><br />
                    <i class="glyphicon glyphicon-phone-alt pad-right"></i> <span ng-bind="vm.pilot.phoneNumber"></span>
                </div>
                <div class="col-sm-6">
                    <h3>Address</h3>
                    <div ng-show="vm.pilot.hasInternationalAddress">
                        <div ng-bind="vm.pilot.addressLine1"></div>
                        <div ng-if="vm.pilot.addressLine2" ng-bind="vm.pilot.addressLine2"></div>
                        <div ng-if="vm.pilot.addressLine3" ng-bind="vm.pilot.addressLine3"></div>
                        <div ng-if="vm.pilot.addressLine4" ng-bind="vm.pilot.addressLine4"></div>
                    </div>
                    <div ng-hide="vm.pilot.hasInternationalAddress">
                        <div ng-bind="vm.pilot.street1"></div>
                        <div ng-if="vm.pilot.street2" ng-bind="vm.pilot.street2"></div>
                        <span ng-bind="vm.pilot.city"></span>, <span ng-bind="vm.pilot.state.abbr"></span> <span ng-bind="vm.pilot.zip"></span>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="col-sm-4">
            <div class="list-labels">
                <div>
                    <h3>Platform Capabilities</h3>
                    <div class="label label-primary" ng-show="vm.pilot.nightVisionCapable">
                        Night Vision
                    </div>
                    <div class="label label-primary" ng-show="vm.pilot.thermalVisionCapable">
                        Thermal (FLIR)
                    </div>
                    <div class="label label-primary" ng-show="vm.pilot.flightTime">
                        {{ vm.pilot.flightTime.name }} Flight Time
                    </div>
                    <div class="label label-primary" ng-show="vm.pilot.payload">
                        {{ vm.pilot.payload.name }} Payload
                    </div>
                </div>

                <div>
                    <h3>Skills</h3>
                    <div class="label label-warning">
                        Comming soon...
                    </div>
                </div>

                <div>
                    <h3>Certifications</h3>
                    <div class="label label-info" ng-show="vm.pilot.femaIcsCertified">
                        FEMA ICS Certified
                    </div>
                    <div class="label label-info" ng-show="vm.pilot.hamRadioLicensed">
                        HAM Radio Licensed
                    </div>
                    <div class="label label-info" ng-show="vm.pilot.faaPart107Certified">
                        FAA Part 107 Certified
                    </div>
                    <div class="label label-info">
                        More comming soon...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>