<div class="col-sm-4">
    <h3>The Community</h3>
    <p>
        Air Bears pilots are members of an elite community of volunteers dedicated to aiding local authorities in any capacity.
        Once you've completed the registration form, you will officially be a member of the community.
    </p>
    <h3>Requirments &amp; Considerations</h3>
    <ul>
        <li>You must be at least 16 years old</li>
        <li>You must have an airframe capable of taking pictures and/or videos (real time or recorded)</li>
        <li>You may be required to forfiet your footage due to its sensitivity to the friends and families involved</li>
    </ul>
    <p>
        <a href="/privacy" target="_blank">Privacy Policy</a> | <a href="/refund" target="_blank">Refund Policy</a>
    </p>
</div>

<div class="col-sm-8">
    <form name="regForm" role="form" novalidate ng-submit="vm.submit(regForm.$valid)">
        <h3>Pilot Information</h3>

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group" ab-client-validate>
                    <label for="firstName">First Name</label>
                    <input id="firstName" name="firstName" type="text" class="form-control" required ng-model="vm.registration.firstName" />
                    <div class="help-block validation" ng-show="regForm.firstName.$error.required">First Name is required.</div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group" ab-client-validate>
                    <label for="lastName">Last Name</label>
                    <input id="lastName" name="lastName" type="text" class="form-control" required ng-model="vm.registration.lastName" />
                    <div class="help-block validation" ng-show="regForm.lastName.$error.required">Last Name is required.</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" ab-client-validate>
                    <label for="phone">Phone Number</label>
                    <input id="phone" name="phone" type="text" class="form-control" required ng-model="vm.registration.phoneNumber" />
                    <div class="help-block validation" ng-show="regForm.phone.$error.required">Phone Number is required.</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ab-client-validate>
                    <label for="teeShirt">T-Shirt Size</label>
                    <select id="teeShirt" name="teeShirt" class="form-control" required ng-model="vm.registration.teeShirtSizeId" ng-options="t.id as t.name for t in vm.teeShirtSizes">
                        <option value="">Select a Size</option>
                    </select>
                    <div class="help-block validation" ng-show="regForm.teeShirt.$error.required">Shirt Size is required.</div>
                </div>
            </div>
        </div>

        <h3>New Login</h3>

        <div class="row">
            <div class="col-sm-7">
                <div class="form-group" ab-client-validate>
                    <label for="email">Email <small class="glyphicon glyphicon-question-sign" uib-tooltip="You will use this email address to access your Air Bears account."></small></label>
                    <input id="email" name="email" type="email" class="form-control" required ng-model="vm.registration.email" />
                    <div class="help-block validation" ng-show="regForm.email.$error.required">Email is required.</div>
                    <div class="help-block validation" ng-show="regForm.email.$error.email">Email must be valid.</div>
                </div>
            </div>
        </div>            

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group" ab-client-validate>
                    <label for="password">
                        Password
                        <small class="glyphicon glyphicon-question-sign"
                               uib-tooltip-template="'app/common/password-requirements-template.html'"></small>
                    </label>
                    <input id="password" name="password" type="password" class="form-control" required ng-model="vm.registration.password" />
                    <div class="help-block validation" ng-show="regForm.password.$error.required">Password is required.</div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group" ab-client-validate>
                    <label for="confirmedPassword">Password Confirmed</label>
                    <input id="confirmedPassword" name="confirmedPassword" type="password" class="form-control" required ab-compare-to="vm.registration.password" ng-model="vm.registration.confirmPassword" />
                    <div class="help-block validation" ng-show="regForm.confirmedPassword.$error.required">Confirmed Password is required.</div>
                    <div class="help-block validation" ng-show="regForm.confirmedPassword.$error.compareTo">Passwords don't match.</div>
                </div>
            </div>
        </div>
            
        <div class="row">
            <div class="col-sm-3">
                <h3>
                    Address
                    <small class="glyphicon glyphicon-question-sign" uib-tooltip="Your address will be used for delivery of your Air Bears t-shirt and to help authorities locate the nearest pilot during an emergency."></small>
                </h3>
            </div>
            <div class="col-sm-6">
                <strong class="checkbox" style="margin-top: 22px;">
                    <label>
                        <input name="hasInternationalAddress" type="checkbox" ng-model="vm.registration.hasInternationalAddress">
                        <span uib-tooltip="Checking this box indicates that your address is outside of the United States.">International Address</span>
                    </label>
                </strong>
            </div>
        </div>

        <div class="row" ng-show="vm.registration.hasInternationalAddress">
            <div class="col-sm-6">
                <div class="form-group" ab-client-validate>
                    <input id="addressLine1" name="addressLine1" type="text" class="form-control" placeholder="Address Line 1" ng-model="vm.registration.addressLine1" ng-required="vm.registration.hasInternationalAddress" />
                    <div class="help-block validation" ng-show="regForm.street1.$error.required">Address is required.</div>
                </div>
                <div class="form-group">
                    <input id="addressLine2" name="addressLine2" type="text" class="form-control" placeholder="Address Line 2" ng-model="vm.registration.addressLine2" />
                </div>
                <div class="form-group">
                    <input id="addressLine3" name="addressLine3" type="text" class="form-control" placeholder="Address Line 3" ng-model="vm.registration.addressLine3" />
                </div>
                <div class="form-group">
                    <input id="addressLine4" name="addressLine4" type="text" class="form-control" placeholder="Address Line 4" ng-model="vm.registration.addressLine4" />
                </div>
            </div>
        </div>

        <div class="row" ng-show="!vm.registration.hasInternationalAddress">
            <div class="col-sm-6">
                <div class="form-group" ab-client-validate>
                    <label for="street1">Street</label>
                    <input id="street1" name="street1" type="text" class="form-control" placeholder="Street Line 1" ng-model="vm.registration.street1" ng-required="!vm.registration.hasInternationalAddress" />
                    <div class="help-block validation" ng-show="regForm.street1.$error.required">Street is required.</div>
                </div>
                <div class="form-group">
                    <input id="street2" name="street2" type="text" class="form-control" placeholder="Street Line 2" ng-model="vm.registration.street2" />
                </div>
            </div>
        </div>

        <div class="row" ng-show="!vm.registration.hasInternationalAddress">
            <div class="col-sm-4">
                <div class="form-group" ab-client-validate>
                    <label for="city">City</label>
                    <input id="city" name="city" type="text" class="form-control" ng-model="vm.registration.city" ng-required="!vm.registration.hasInternationalAddress" />
                    <div class="help-block validation" ng-show="regForm.city.$error.required">City is required.</div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" ab-client-validate>
                    <label for="state">State</label>
                    <select id="state" name="state" class="form-control"
                            ng-required="!vm.registration.hasInternationalAddress" 
                            ng-model="vm.registration.stateId" 
                            ng-options="s.id as s.name for s in vm.states">
                        <option value="">Select a State</option>
                    </select>
                    <div class="help-block validation" ng-show="regForm.state.$error.required">State is required.</div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" ab-client-validate>
                    <label for="zip">Zip Code</label>
                    <input id="zip" name="zip" type="text" class="form-control" ng-model="vm.registration.zip" ng-required="!vm.registration.hasInternationalAddress" />
                    <div class="help-block validation" ng-show="regForm.zip.$error.required">Zip Code is required.</div>
                </div>
            </div>
        </div>

        <div class="row vert-margin">
            <div class="col-sm-3">
                <input type="button" class="btn btn-sm btn-default" value="Terms & Conditions" ng-click="vm.openTermsAndConditions()"/>
            </div>
            <div class="col-sm-9">
                <div class="form-group" ab-client-validate>
                    <div class="checkbox">
                        <label><input name="hasAgreedToTerms" type="checkbox" required ng-model="vm.registration.hasAgreedToTerms"><span uib-tooltip="Checking this box indicates that you have read and agree to the terms and conditions.">I agree to the terms and conditions.</span></label>
                    </div>
                    <div class="help-block validation" ng-show="regForm.hasAgreedToTerms.$error.required">You must agree to the terms &amp; conditions.</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <h4>Pilot Registration Fee: $25</h4>
            </div>

            <div class="col-sm-7">
                <div class="form-group" ng-hide="vm.registration.nonce">
                    <input type="button" class="form-control btn btn-primary" value="Pay with Paypal" ng-click="vm.openPaypal()" />
                </div>
                <div ng-show="vm.registration.nonce">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="../../images/paypal.png" class="img-responsive" />
                                </div>
                                <div class="col-sm-10">
                                    <p>
                                        <strong ng-bind="vm.paymentDetails.firstName"></strong>
                                        <strong ng-bind="vm.paymentDetails.lastName"></strong><br />
                                        <span ng-bind="vm.paymentDetails.email"></span>
                                    </p>                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group vert-margin" ng-show="vm.registration.nonce">
            <input type="submit" class="form-control btn btn-success" value="Complete Registration" ng-disabled="vm.isSubmitting" />
        </div>
    </form>
</div>